# Maven build artifacts
*.class
*.war
target/
buildoutput/
build/
webapps/
*.cache
*.versionsBackup

# Eclipse
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.cache-*

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# editor backups/autosave
*~
.#*
\#*\#

# Version.java
Version.java

# Zelix obfuscation
Z_log.txt
t
*.fbl7

# Visual Studio
*.suo
*.sln.docstates
*.csproj.user
obj/
bin/

# Merge artifacts
*.orig

# Passolo projects files
*.lpu

# Passolo option files
*.pslopt

# js code assist
*.sdocml

# Binary files
*.gz

# Misc text files
*.stackdump

!mat/public/images/favicon.png
mat/public/images/*.png
mat/conf/generated.keystore
dashboard/.eslintrc.json
dashboard/package.json
dashboard/app/config/ServerConfig.js

io/src/test/resources/AzureBlobStoreTestSuite.properties

docker/mat/usr
docker/mat/*.rpm

io/src/test/resources/AzureEventHubSampler.properties
